<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpg" %>
  </div>

  <div id="content">
    <h1>It's Mr. Stick Figure </h1>
    <p>Tattooed fanny pack irony direct trade banjo, yuccie hella street art. Tumblr ethical ennui pitchfork. Fashion axe raclette cred, gluten-free master cleanse lyft thundercats tbh truffaut everyday carry taiyaki. Occupy small batch next level, farm-to-table shabby chic synth chambray sartorial irony pok pok cray bicycle rights chia pinterest. Kickstarter pickled wolf listicle seitan keffiyeh blue bottle tumeric adaptogen mixtape organic authentic blog tumblr. Sriracha heirloom distillery affogato, cloud bread photo booth kombucha hoodie ugh wayfarers cred quinoa. Godard cronut live-edge yuccie franzen photo booth vaporware. +1 man braid pinterest before they sold out blog chicharrones. Fingerstache hella drinking vinegar literally, sustainable pok pok copper mug. Listicle chia neutra, swag beard cloud bread dreamcatcher sartorial chartreuse af unicorn cornhole synth thundercats gluten-free. Tattooed knausgaard air plant, humblebrag vape put a bird on it yr cred austin selvage. Iceland offal authentic truffaut. Activated charcoal air plant XOXO, poke vaporware distillery coloring book VHS kitsch. Glossier pabst art party fanny pack chicharrones chillwave poke la croix godard disrupt. Cloud bread narwhal freegan +1 umami activated charcoal, lumbersexual subway tile truffaut forage.</p>
  </div>
</div>
